/*Mixins*/
@mixin titulos ($fsize, $fw){
    font-size: $fsize;
    color:black;
    font-weight:$fw;
    text-align: center;
    letter-spacing:5px;
    background-image: linear-gradient(to right, #F7D6EC, #b91d73);
}
@import "header";
@import url("https://fonts.googleapis.com/css2? family = Podkova & display = swap");
/*variables*/
$color-uno:white;
p{
    @if($color-uno==white){
        font-size:20px;
    }
    @else if($color-uno= red){
        font-size:15px;
    }
    @else{
        font-size:12px;
    }
}
body{
    font-family:'Podkova', serif; 
     @include titulos(18px,bold);
    
}
#TituloNosotros{
    background: radial-gradient(circle at top left, #fdbb2d, #776e72);
    @include titulos(20px,200);
}
    p{
        background-color: $color-uno;

      }
    .sociales{
    background-color: lightslategrey;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:5px 5px;
    flex-wrap:wrap;
    }
    .sociales__redes{
        float: right;
        width: 50px;
        height: 50px;
    }
    .redes:hover{
    transform: scale(1.1, 1.1);
    }
    .texto__parrafo{
        font-size:(fsize);
    }
.corporal{
    width:400px;
    height:400px;
    float:center;
}
.tabla{
    float:20%;
}
 
.grid{
    display:grid;
    height: 400px;
    border:solid 5px black;
    background-color: lightslategrey;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items:center; 
    gap:1em;
    padding:1em;
}
.grid div:hover{
    border:1px yellow;
    height: 150px;
}
//media query
@media(min-width:375px) and (max-width:414px)
{
    body{
        background-color: green;
    }
    footer{
        background-color: rgba(140,147,177,1);
        width: 150px;
    }
}