/*Mixins*/
@mixin titulos ($fsize, $fw){
    font-size: $fsize;
    color:black;
    font-weight:$fw;
    text-align: center;
    letter-spacing:10px;
    background-image: linear-gradient(to right, #F7D6EC, #b91d73);
}
.logo{
    height: 80px; 
}
.navbar{
    position:fixed;
    width: 100%;    
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(253,180,187,1) 51%, rgba(255,169,180,1) 100%) !important;
    padding:15px;
    list-style:none;
    display: flex;
    text-align: end;
    max-width: 100%;
    letter-spacing:10px;
    word-spacing: 20px;
    font-weight: bold; 
    top:0;
    left:0;
    font-size: 20px;
    padding:15px 30px;
    transition:all 500ms ease;
    z-index: 100;
}
//* Styles Index/*
.container{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}
.container-body{
    width: 100%;
    background:linear-gradient(to right, rgba(250,240,245,1) 0%, rgba(234,146,163,1) 97%, rgba(234,143,160,1) 100%);

}
.ImagenIndex{
    float:left;
    margin-top:5%;
    margin:center;
    margin-left:4%;
    padding:2px;
    border-radius: 15px;
    margin-bottom: 3%;
}
.Titulo{
    font-size: 30px;
    color:black;
    font-weight: bolder;
    padding-top: 10%;
    text-align: center;
    letter-spacing: 15px;
    background-image: linear-gradient(to right, #3494E6, #b91d73); 
}
.texto-first{
    text-transform:uppercase;
    font-size: 30px;
    text-decoration-style: solid;
    padding-top: 2%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3%; 
    background: linear-gradient(to right, gba(153,153,153,1) 0%, rgba(140,140,140,1) 51%, rgba(148,148,148,1) 69%, rgba(171,171,171,1) 100%);
}
.texto{
    font-size: 25px;
    margin: 0 auto;
    margin-top: 2%;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3%;
    align-items:center;
    padding-bottom: 3%;
    background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);    
}
#map{
    margin:0;
    display:flex;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-right: 10px;  
}
.contenido{
    text-transform:uppercase;
    font-size: 20px;
    color: grey;
    margin-left: 25%;
    text-decoration-line: underline;
}
.parrafo1{
    margin-top:5%;
    color:#242D2D;
    margin-left:10%;
    font-weight:bolder;
    font-size: 25px;  
    letter-spacing: 5px; 
}
.container-imag{
    width: 400px;
    display: inline;
    justify-content: space-around;
    margin: center;
    margin-top:3%;
    max-width: 100%;
}
.intro{
    font-size: 25px;
    margin-left: 6%;
}
@keyframes Descuentos{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.Descuentos{
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
    letter-spacing: 10px;
    background-image: linear-gradient(to right, #DF505D, #8C50DF ); 
    text-transform: uppercase;
    border:solid 1px; 
    animation-name: Descuentos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;   
}
.info{
    margin-top:2%;
    font-size: 25px;
    font-weight: bold;
    margin-left: 5%;
}
.img-promociones{
    display:inline;
    justify-content: center; 
    margin: 0 auto;
    padding: 0, auto;
    height:400px;
    width: 600px;
    margin-left: 5%;
    margin-right:5%; 
}
.promo-img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    padding:2%;
    justify-content: right;
    line-height: 0px;
}
//estilos Sección Depilación/
.depi{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: center;
}
.depdef{
    width: 900px;
    height:700px;
    padding-top: 2%;
    border-radius: 80px;  
}
.titulodepi{
    text-transform: uppercase;
    color:#242D2D;
    font-weight: bolder;
    letter-spacing: 5px;
    margin-top: 3%;
    margin-left:30%;
    margin-bottom:3%;
    animation-name: depi;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
    text-decoration-style: double;
}
@keyframes depi{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.titulodepi1{
    color:#242D2D;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 30%;
    margin-bottom: 2%;
    text-decoration: none;  
}
.maquinas{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
}
.maquina{
    width:500px;
    height:600px;
    float: left;
    border-radius:100px;
    border:3px solid #666;
}
 .description{
     display:flex;
     flex-direction:column;
     padding-top: 20px;
 }
 .content{
    font-size: 25px;
    padding-top:3%;
    margin: 0 auto;
    margin-left: 3%;
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 5%;
    text-align:left; 
    line-height: 40px;
 }

//estilos Sección Tratamientos/
.d-block {
    width:auto;
    height:1000px;
    margin:0 auto;
    margin-top: 8%; 
}
.face-content{
    margin-top:5%;
}
.face{
    font-size: 40px;
    font-weight: 100px;
    text-decoration: none;
    margin-bottom: 5%;
    padding-left: 35%;
    background:linear-gradient(to right, rgba(226,202,242,1) 0%, rgba(213,180,228,1) 50%, rgba(186,141,211,1) 51%, rgba(231,179,255,1) 100%);
}
.descripcion{
    font-size: 25px;
    font-style: bold;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom:35px;
}
.img-corporal{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    min-height: 100vh;     
}
.drenaje-img{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}
@supports(object-fit: cover){
    .drenaje-im{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.facial{
    width: 400px;
    height: 600px;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
    display: flex;
    margin-top:5%
}
//Estilos Nosotros
.card-img-top{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 2%;
}
.container-principal{
    margin-top: 3%;  
}
.card-text{
    font-size:20px;
}
.card-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: #242D2D;
    animation-name: cards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes cards{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.texto-nos{
    font-size: 30px;
    margin-left: -2%;
    padding:5px;
    margin-top: 2%;
}
.text-description{
    margin-top: 5% ;
    margin:0;
    margin-left:5%;
}
#ImagenMujer2{
    width: 500px;
    height: 500px;
    position: flex;
    border-radius: 15px;
    margin-left: 5%;
}
#salon{
    width: 500px;
    height: 500px;
    position: flex;
    border-radius: 15px;
    margin: 100px;
    margin-right: 5%;
}
.formulario{
    margin-bottom: 5%;
    padding:25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;  
}
.info-contacto{
    padding:10px;
    width: 100%;
    margin-bottom: 5%;
    background:linear-gradient(to right, rgba(226,202,242,1) 0%, rgba(213,180,228,1) 50%, rgba(186,141,211,1) 51%, rgba(231,179,255,1) 100%);
    padding-left:5%;
    font-size: 30px;
    text-align: center;
}
//Estilos footer
 footer {
    display: flex;
    background-color:#698282;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    margin-bottom: 0;
    border-top: 10px solid #b91d73;
}
.logofooter{
    height: 95px;
    padding-top: 5%;
    text-transform: none;
    margin-left: -20%;
}
.place-footer{
    color:#F8FEFE;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding:15px 10px;
    position:relative; 
    transition: all .7s ease;
}
h5{
    color: black;
    margin: 0;
    font-size: 20px;
    text-decoration: none;
}
h6{
    font-size: 20px;
    font-style:italic;
    font-weight: bolder;
    letter-spacing: 5px;
}
footer a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.navfoot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}
.textofoot{
    letter-spacing:10px; 
    margin-left: 10%;
    word-spacing:2px;
    font-size: 20px;
}
/*media query*/
@media screen and (max-width: 768px) {
    .navbar{
        font-size: 20px;
    }
    .container-body{
        width: 100% !important;
        background: #01101d;
        color: #F7D6EC ;
    }
    .container{
        width: 100%;
    }
    .Titulo{
        width:100%;
        margin-top:30%;
    }
    .container-imag{
        width:100%;
        margin-top: 5%;
        margin-right: auto;
        margin-left: 20%;
    }
    .img-promociones{
        width:80%;
        margin-left: auto;
    }
    .ImagenIndex{
       width:95%;
       margin-bottom: 5%;
    }
    .texto{
        width:90%;
        padding-left: 2%;
        padding-right: 2%;
        color: black;
    }
    .info{
        width: 100%;
        margin-left: 5%;
    }
    .contenido{
        margin-top: 10%;
    }
    .intro{
        position:block;
        width: 90%;
        margin: auto;
    }
    .Descuentos{
        width: 100%;
    }
    .parrafo1{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 230px;
    }
   .texto-first{
       padding-left:15%;
       letter-spacing: 8px;
   }
    .promo-img{
        width: 300px;
        margin-left: 8%;
        margin-right: 5%;
    }
    #map{
        width:90%;
        margin-right:6%;
        margin-left: 8%;
    }
    .depdef{
        max-width: 90%;
        margin-left: 10%;
        margin-right: 10%;  
    }
    .titulodepi{
        width:80%;
        margin-left: 15%;
    }
    .titulodepi1{
        width:80%;
        margin-left:15%;
    }
    .maquinas{
        display: block; 
    }
    .description{
        display:block;
        padding-top:20px;
    }
    .content{
        padding-left:10%;
        padding-right: 3%;
    }
    .drenaje-img{
        width: 100%;
        position: relative;
    }
    .maquina{
        width: 100%;
        margin-left: 5%;
        margin-right:auto;
    }
    .face{
        font-size: 25px;
        padding-left: 5% ;
    }
    .row{
        display: block;
    }
    .container-principal{
        width:100%;
        margin-left:auto;
    }
    .card-img-top{
        width:100%;
        display:fixed;
    }
    #ImagenMujer2{
        width: 100%;
        border-radius: 15px;
        margin-left: 3%;
        padding-top: 5%;
    }
    #salon{
        width: 100%;
        border-radius: 15px;
        margin-left: 3%;
        padding-top: 5%;
    }
    .container-body{
        flex-wrap: wrap;
    }
    footer{
      width:100%;
      height: 400px;
      flex-wrap: wrap;
      position:absolute;
      padding-block-end: 20%;
    }
    .navfoot{
       display:flex;
       flex-direction: column;
       justify-content: space-around;
       padding-right: 15%;
       padding-left: 8%;
       word-spacing: 3%;
    }
    .formulario{
        text-emphasis: initial;
    }
    .info-contacto{
        width: 100%;
    }
    
}


